.background {
    background-color: lightgrey;
    border: 2px solid red;
}

img {
    width: 100%;
    height:auto;
    max-width:1024px;
    border: 2px solid pink;
    float: left;
}

@media only screen and (max-width: 1300px) {
    img {
        float: none;
        
    }
    div {
            position: sticky;
            right: 0;
            bottom: 0; 
    }
  }

